<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nasorih.codic</string>
	<key>category</key>
	<string>develop</string>
	<key>connections</key>
	<dict>
		<key>93A1F5E9-937E-4768-9F14-B970DCAF9468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA29A0F9-972C-4975-A631-8ED8104004DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F6B8EE6-E049-4D22-A231-B88829250F8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hirosan18</string>
	<key>description</key>
	<string>プログラマーのためのネーミング辞書</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>codic</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EA29A0F9-972C-4975-A631-8ED8104004DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>codic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>./alfred3-codic-workflow "{query}" "$token" "$project_id" "$acronym_style" "$casing"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>日本語を入力するとcodicでネーミングを生成します</string>
				<key>title</key>
				<string>codicでネーミング</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93A1F5E9-937E-4768-9F14-B970DCAF9468</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>'{query}' copied to clipboard</string>
				<key>title</key>
				<string>codic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8F6B8EE6-E049-4D22-A231-B88829250F8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>codicをAlfredから使うWorkflowです

このWorkflowを使用するにはcodicからアクセストークンを取得する必要があります。
https://codic.jp/docs/api#limitation

取得後はEnvironmentVariablesのtokenに設定して下さい。</string>
	<key>uidata</key>
	<dict>
		<key>8F6B8EE6-E049-4D22-A231-B88829250F8D</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>93A1F5E9-937E-4768-9F14-B970DCAF9468</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>EA29A0F9-972C-4975-A631-8ED8104004DF</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>acronym_style</key>
		<string></string>
		<key>casing</key>
		<string>lower+underscore</string>
		<key>project_id</key>
		<string></string>
		<key>token</key>
		<string>uC5zwUkt7EzgViBoAhCh5ONOnqBxGJ419</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>token</string>
	</array>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/hirosan18</string>
</dict>
</plist>
